/* Show it is fixed to the top */
body {
  padding-top: 4.5rem !important;
}
.secret-key-form {
    padding: 10px;
}
.secret-key-form .help-block{
      font-size: 0.7em;
}
.secret-key-form .form-group{
      border-bottom: 1px solid #efefef;
}
.secret-key-form .form-group:last-child{
      border-bottom:none;
}
.api-class {
    border-right:  2px solid #fefefe;
    border-bottom: 2px solid #fefefe;
    border-left:   2px solid  #fefefe;
    background-color: #292B2C;
    min-height: 500px;
    border-radius: 0px 0px 7px 7px;
    color: #fefefe
}
.api-class-header {
    border-right:  2px solid #fefefe;
    border-top:    2px solid #fefefe;
    border-bottom:    2px solid #333;
    border-left:   2px solid  #fefefe;
    background-color: #fefefe;
    border-radius: 7px 7px 0px 0px;
    color: #292B2C;
    box-shadow: 1px 1px 50px #292B2C;
}
.set-secret-information {
    padding-top: 10px;
    background-color: #222
}
.api-class-header .alert{
    line-height: 24px;
    width: 101.9%;
    margin: 0;
    margin-top: 2px;
    padding: 5px;
}
.close-button {
    text-align: center;
    display: inline-block;
    float: right;
    font-weight: bolder;
    padding: 1px;
    cursor: pointer;
}
.btn {
    cursor: pointer;
}
.jenkins-hosts ul {
    padding:0;
    margin:0;
    display:block;
    float:left;
    width:100%;
    list-style:none;
}
.jenkins-hosts .jenkins-host-list li {
    margin: 0;
    display: block;
    float: left;
    width: 100%;
    background-color: #292B2C;
    padding: 5px;
    border-bottom: 1px solid #353535;
    font-size: 0.95em;
    text-align: center;
    cursor: pointer;
}
.jenkins-host-list li:hover {
    background-color:#191919;
    border-bottom:1px solid #eee;
    border-top:1px solid #eee;
}
.jenkins-hosts .jenkins-host-list-options li {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    width: 50%;
    border: none;
    font-size: 0.85em;
    border-top: 1px solid #353535;
    margin-top: 5px;
    cursor: pointer;
    display:none;
}
.jenkins-hosts .jenkins-host-list-options li:first-child {
    border-right: 1px solid #353535;
    color:#00FF00;
}
.jenkins-hosts .jenkins-host-list-options li:last-child {
    color:#FF0000;
}
.jenkins-hosts .jenkins-host-list-options li:hover {
    background-color:#292B2C !important;
}
.jenkins-host-list li:hover .jenkins-host-list-options li {
    display: block;
    background-color:#191919;
}